services:
  app:
    build: .
    container_name: laravel_app_dev
    command: bash -c "composer install && npm install && composer run dev"
    ports:
      - "${HOST_PORT:-8000}:8000"
      - "5173:5173"
    volumes:
      - .:/var/www/html
      - /var/www/html/node_modules
      - /var/www/html/vendor
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - APP_ENV=local
      - APP_DEBUG=true

  postgres:
    image: postgres:15
    container_name: laravel_db_dev
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
